.imgPost2{
    display: flex;

}
a.title{
    color: red;
    font-weight: bold;
    text-decoration: none;
}
a.title:hover{
    color: black;
    text-decoration: none;
}
.roundedImage{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}